# Issue.1

### items는 영어로 번역하는 과정 중 오류 발생
### a. 오류나는 데이터를 빼고 갈지
### b. en이 아닌 ko로 할 지

 # b번 이슈에 관한 실험 코드

In [1]:
import pandas as pd
from googletrans import Translator

In [2]:
item_category_df = pd.read_csv("data/item_categories.csv")
items_df = pd.read_csv("data/items.csv")
shops_df = pd.read_csv("data/shops.csv")

In [3]:
trans = Translator()
def translate(column):
    en_list=[]
    for word in column:
        en = trans.translate(word, dest='ko')
        en_list.append(en.text)
    return en_list

In [4]:
item_category_df["item_category_name"] = translate(item_category_df["item_category_name"])
item_category_df.head()

  item_category_name  item_category_id
0     PC - 헤드셋 / 헤드폰                 0
1         액세서리 - PS2                 1
2         액세서리 - PS3                 2
3         액세서리 - PS4                 3
4         액세서리 - PSP                 4

In [5]:
shops_df["shop_name"] = translate(shops_df["shop_name"])
shops_df.head()

                                  shop_name  shop_id
0              Yakutsk Ordzhonikidze, 56 프랑        0
1                           야쿠 츠크 TC "중앙"프랑        1
2                        아디 게아 쇼핑 센터 "Mega"        2
3                    발라 시카 TRK "10 월 키노 미르"        3
4  볼츠키 (Volzhsky) 쇼핑 센터 "볼가 몰 (Volga Mall)"        4

In [ ]:
items_df["en_item_name"] = translate(items_df["item_name"])
shops_df.head()